        body{
            margin: 0 auto;
            background-color: #dddddd;
        }

        .left{
            float: left;
        }

        .right{
            float: right;
        }

        .hide{
            display: none;
        }

        a{
            text-decoration: none;
            color: blue;
	    }

        .pg_header{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 50px;
            background-color: rgba(161, 159, 159, 0.8);
            color: white;
            z-index: 10;
        }

        .pg_header .logo{
            height: 50px;
            width: 100px;
        }

        .pg_header .logo a img{
            height: 50px;
            width: 60px;
        }

        .pg_header .web_name {
            position: relative;
            width: 300px;
            height: 50px;
            text-align: left;
            font-size: x-large;
            line-height: 50px;
            color: black;
        }

        .pg_header .person_info{
            position: relative;
            height: 50px;
            width: 100px;
        }

        /*.pg_header .person_info img{*/
        /*    width: 35px;*/
        /*    height: 35px;*/
        /*    margin-left: 75px;*/
        /*    !*使用border-radius可以定义边框的圆角程度*!*/
        /*    border-radius: 50%;*/
        /*}*/

        .logout{
            margin-top: 10px;
            width: 80px;
            height: 30px;
            text-align: center;
        }

        .pg_header .person_info .info{
            position: absolute;
            width: 200px;
            height: 80px;
            background-color: #dcdce2;
            top: 50px;
            z-index: 20;
            display: none;
        }

         /*.pg_header .person_info .info .logout_div {*/
         /*    height:30px;*/
         /*    margin-top:50px;*/
         /*}*/

        /*.pg_header .person_info .info .logout_div .btn1{*/
        /*    height:30px;*/
        /*    width: 50%;*/
        /*    background: dodgerblue;*/
        /* }*/

        .pg_header .person_info .info a{
            display: block;
            color: white;
            text-decoration: none;
        }

        .pg_header .person_info:hover .info{
            display: block;
        }

        .pg_content .menu{
            position: fixed;
            top: 51px;
            left: 0;
            bottom: 0;
            width: 200px;
            background-color: rgba(201, 201, 219, 0.8);
            color: white;
        }

        .pg_content .menu .menu_s{
            width: 200px;
            height: 48px;
            text-align: center;
            line-height: 48px;
            border-bottom: 1px solid grey;
            color: white;
        }

        .pg_content .menu .menu_s .icon{
            position:relative ;
            width: 30%;
        }

        .pg_content .menu .menu_s .menu_text{
            float:left;
            margin-left: 20px;
        }

        .pg_content .menu .menu_s img{
            height: 30px;
            width: 30px;
            float: left;
            margin-top: 8px;
            margin-left: 15px;
        }


