    .left{
        float: left;
    }

    .checkbox{
        vertical-align:middle;
        margin-top:0;
    }

    .data{
        position: fixed;
        top:60px;
        left: 220px;
        right: 20px;
        bottom: 10px;
        background: white;
    }

    .data .queryCondition{
        width: 100%;
        height: 80%;
    }

    .data .tips2{
        position:relative;
        width: 100%;
        height: 20%;
        margin-left: 20px;
        color: grey
    }

    .data .query{
        position: relative;
        height: 50px;
        width: 80%;
        text-align: left;
        line-height: 50px;
    }

    /*查询按钮置蓝色，默认*/
    .queryBtn{
        height:30px;
        width:80px;
        background-color: cornflowerblue;
    }

    /*查询按钮置灰色*/
    .queryBtn2{
        height:30px;
        width:80px;
        background-color: #b0b0b1
    }

    .shadow{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: black;
            opacity: 0.3;
            z-index: 12;
        }

    .res_div{
            position: fixed;
            top: 40%;
            left: 55%;
            height: 300px;
            width: 550px;
            background: #f8f8f9;
            border:0.1px solid black ;
            margin-top: -150px;
            margin-left: -275px;
            z-index: 13;
        }

    .res_div .res_div_body{
        width: 100%;
        height: 220px;
    }

    .res_div .res_div_middle{
        width: 100%;
        height: 40px;
        color: red;
    }

    .res_div .res_div_footer{
        width: 100%;
        height: 40px;
    }

    .res_div .res_div_body .content{
        position: relative;
        width: 520px;
        height: 200px;
        top: 20px;
        left: 15px;
        bottom: 20px;
    }

    .res_div .res_div_body .content .res_tr{
        height: 40px;
        width: 100%;
    }

    .res_div .res_div_body .content .res_tr2{
        height: 80px;
        width: 100%;
    }
    
    .res_div .res_div_body .content .res_tr .res_td_n{
        width: 30%;
        float: left;
        line-height: 40px;
        text-align: right;
    }

    .res_div .res_div_body .content .res_tr .res_td_v{
        float: left;
        line-height: 40px;
    }

    .res_div .res_div_body .content .res_tr2 .res_td_n2{
        width: 30%;
        float: left;
        line-height: 40px;
        text-align: right;
    }

    .res_div .res_div_body .content .res_tr2 .res_td_v2{
        float: left;
        line-height: 40px;
        word-break: break-all;word-wrap: break-word;
        width:355px;
    }

    .closeBtn{
        float: right;
        margin-top: 10px;
        margin-right: 15px
    }

    .result{
        padding-right: 15px;
        padding-left: 15px;
        position: relative;
        height: 300px;
        width: 100%;
        overflow: auto;
    }

    table{
        width: 100%;
        border-collapse:collapse;
    }

    table thead{
        background-color: #f8f8f9;
    }

    table tr input{
        width: 16px;height: 16px;
    }

    td{
        text-align: center;
    }

    .verfity_div{
            position: fixed;
            top: 60px;
            left: 50%;
            width: 400px;
            height: 40px;
            line-height: 40px;
            z-index: 20;
            color: red;
        }
