        .left{
            float:left
        }

        .hide{
            display: none;
        }

        .content{
            position: fixed;
            top: 60px;
            left: 220px;
            right: 20px;
            bottom: 10px;
            line-height: 30px;
            background: white;
        }

        .content_header{
            height: 5%;
        }

        .content_body{
            height: 95%;
        }

        .content_body .head{
            height: 6%;
        }
        .content_body .body{
            height: 88%;
        }
        .content_body .footer{
            height: 6%;
        }

        .content_header input{
            float: right;
            margin-top: 3px;
            margin-right: 10px;
        }

        .content_body .head .menu_item{
            width: 20%;
            background-color: rgba(150, 132, 167, 0.32);
            text-align: center;
            line-height: 30px;
            color: black;
        }

        .content_body .head .active{
            background-color: rgba(161, 159, 159, 0.8);
        }

        table{
            width: 100%;
            border-collapse:collapse;
        }

        table thead{
           background-color: #f8f8f9;
        }

        table tbody tr{
            height: 45px;
            text-align: center;
            line-height: 45px;
        }

        .shadow{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: black;
            opacity: 0.3;
            z-index: 12;
        }
        .edit_env_div,.edit_db_div,.add_env_div,.add_db_div{
            position: fixed;
            top: 50%;
            left: 50%;
            height: 400px;
            width: 640px;
            background: white;
            border: 1px solid black;
            margin-top: -200px;
            margin-left: -320px;
            /*overflow: auto;*/
            z-index: 13;
        }

        .edit_div_body,.add_div_body{
            position: relative;
            padding:15px;
        }

        .edit_div_footer,.add_div_server_footer{
            position: relative;
            top: 110px;
            padding: 15px;
            text-align: right;
        }

        .add_div_db_footer{
            position: relative;
            top: 180px;
            padding: 15px;
            text-align: right;
        }

        .edit_tr,.add_tr{
            position: relative;
            height: 40px;
            line-height: 40px;
            width: 100%;
        }

        .edit_td,.add_td{
            float: left;
        }

        .edit_h,.add_h{
            float:left;
            position: relative;
            width: 130px;
            text-align: right;
        }

        .edit_c,.add_c{
            float:left;
            position: relative;
            width: 160px;
        }

        .del_div,.verfity_div{
            position: fixed;
            top: 60px;
            left: 50%;
            width: 400px;
            height: 40px;
            line-height: 40px;
            z-index: 20;
            color: red;
        }

