{% extends "index.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/css/env.css">
    <link rel="stylesheet" href="/static/css/data.css">
{% endblock %}

{% block content %}
    <div class="data">
        <div class="queryCondition">
            <form id="queryForm">
            <table>
                <tr>
                    <td style="width: 10%">所属环境：</td>
                    <td style="float: left">
                        <select name="env">
                            <option value="wx">无锡环境</option>
                            <option value="tz">泰州环境</option>
                            <option value="yx">宜兴环境</option>
                            <option value="sq">宿迁环境</option>
                            <option value="bt">包头环境</option>
                            <option value="xh">兴化环境</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>所属产权：</td>
                    <td style="float: left">
                        <input style="width: 20px;height: 20px;" type="radio" name="cqmc" value="jd">净地
                        <input style="width: 20px;height: 20px;" type="radio" name="cqmc" value="fw" checked="checked">房屋
                        <input style="width: 20px;height: 20px;" type="radio" name="cqmc" value="gjpt">公建配套
                        <input style="width: 20px;height: 20px;" type="radio" name="cqmc" value="zjgc">在建工程
                        <input style="width: 20px;height: 20px;" type="radio" name="cqmc" value="zjfw">自建房屋
                        <input style="width: 20px;height: 20px;" type="radio" name="cqmc" value="ck">车库
                        <input style="width: 20px;height: 20px;" type="radio" name="cqmc" value="xmldz">项目类多幢
                    </td>
                </tr>
                <tr>
                    <td>登记类型：</td>
                    <td style="float: left">
                        <input style="width: 20px;height: 20px; " type="radio" name="djlx" value="dj_1">首次登记
                        <input style="width: 20px;height: 20px; " type="radio" name="djlx" value="dj_2"
                               checked="checked">转移/变更/注销
                    </td>
                </tr>
                <tr>
                    <td>限制信息：</td>
                    <td style="float: left">
                        <input style="width: 20px;height: 20px;" class="checkbox" type="checkbox" name="xzxx"
                               value="sfdy">抵押
                        <input style="width: 20px;height: 20px;" class="checkbox" type="checkbox" name="xzxx"
                               value="sfcf">查封
                        <input style="width: 20px;height: 20px;" class="checkbox" type="checkbox" name="xzxx"
                               value="sfyg">预告
                        <input style="width: 20px;height: 20px;" class="checkbox" type="checkbox" name="xzxx"
                               value="sfyy">异议
                        <input style="width: 20px;height: 20px;" class="checkbox" type="checkbox" name="xzxx"
                               value="sfydy">预抵押
                        <input style="width: 20px;height: 20px;" class="checkbox" type="checkbox" name="xzxx"
                               value="sfycf">预查封
                    </td>
                </tr>
                <tr>
                    <td>是否批量：</td>
                    <td style="float: left">
                        <input style="width: 20px;height: 20px; " type="radio" name="sfpl" value="y">是
                        <input style="width: 20px;height: 20px; " type="radio" name="sfpl" value="n"
                               checked="checked">否
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="queryBtn"  class="queryBtn" type="button" value="查询">
                    </td>
                </tr>
            </table>
        </form>
        </div>
        <div class="tips2">
             <p>友情提示：</p>
             <p>1.限制信息选项是针对登记库已存在的数据。勾选该条件代表查询的产权已具备某种限制状态。</p>
             <p>2.如查询抵押首次登记数据，产权类型选择【房屋】，登记类型选择【转移/变更/注销】，限制信息不能勾选【抵押】。</p>
        </div>

        <!--遮罩层-->
        <div class="shadow hide"></div>
        <!--查询结果弹窗界面-->
        <div id="resTab" class="res_div hide">
            <div class="res_div_body">
                <div class="content">
                    <div class="res_tr">
                        <div class="res_td_n">不动产单元号：</div>
                        <div class="res_td_v" id="bdcdyh"></div>
                    </div>
                    <div class="res_tr">
                        <div class="res_td_n">宗地（房屋）代码：</div>
                        <div class="res_td_v" id="zddmOrFwdm"></div>
                    </div>
                    <div class="res_tr">
                        <div class="res_td_n">不动产证书（明）：</div>
                        <div class="res_td_v" id="bdcqzsOrZm"></div>
                    </div>
                    <div class="res_tr2">
                        <div class="res_td_n2">土地（房屋）坐落：</div>
                        <div class="res_td_v2" id="tdOrFwzl"></div>
                    </div>
                </div>
            </div>
            <div class="res_div_middle">
                <div style="margin-left: 10px;">注：车库位首次，批量首次，在建工程抵押流程查询结果为幢相关数据。公建配套查询结果为宗地相关数据。</div>
            </div>
            <div class="res_div_footer">
                <button id="closeBtn" class="closeBtn">关闭</button>
            </div>
        </div>

        <!--提示信息弹出框 -->
        <div class="verfity_div hide">
            <div id="tips"></div>
            <div id="verfityInfo"></div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/js/env.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/data.js"></script>
{% endblock %}



