{% extends "envDetail-1.html" %}

<!--FTP信息页面，继承envDetail-1.html母版页面-->
{% block envDetail %}
    <div class="content_body">
            <div class="head">
                <a href="/envManage/env/detail-{{ env_node_id }}-1"><div class="menu_item left " a="1">前端信息</div></a>
                <a href="/envManage/env/detail-{{ env_node_id }}-2"><div class="menu_item left " a="2">后端信息</div></a>
                <a href="/envManage/env/detail-{{ env_node_id }}-3"><div class="menu_item left " a="2">中间件信息</div></a>
                <a href="/envManage/env/detail-{{ env_node_id }}-4"><div class="menu_item left active" a="2">附件信息</div></a>
                <a href="/envManage/env/detail-{{ env_node_id }}-5"><div class="menu_item left " a="2">数据库信息</div></a>
            </div>
            <div class="body">
                <div b="4">
                    <table>
                        <thead>
                            <tr>
                                <th width="3%">序号</th>
                                <th width="8%">服务名</th>
                                <th width="8%">服务标识</th>
                                <th width="8%">主机IP</th>
                                <th width="8%">服务端口</th>
                                <th width="10%">访问地址</th>
                                <th width="20%">登录口令</th>
                                <th width="8%">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for row in ftpService %}
                            <tr hid="{{ row.s_id }}" node="{{ row.service_model }}">
                                <td>{{ forloop.counter }}</td>
                                <td name="service_chinese_name">{{ row.service_chinese_name }}</td>
                                <td name="service_name">{{ row.service_name }}</td>
                                <td name="service_host">{{ row.service_host }}</td>
                                <td name="service_port">{{ row.service_port }}</td>
                                <td name="service_url">{{ row.service_url }}</td>
                                <td name="service_deploy_path">{{ row.service_deploy_path }}</td>
                                <td>
                                    <button type="button" class="edit_envDetail_btn" style="display: none" >编辑</button>
                                    <button type="button" class="del_envDetail_btn" style="display: none" >删除</button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="footer">
                <div style="text-align: right;padding-right: 10px;">
                    {{ page_str }}
                </div>
            </div>
        </div>
{% endblock %}



