{% extends "envDetail-1.html" %}

<!--数据库信息页面，继承envDetail-1.html母版页面-->
{% block envDetail %}
    <div class="content_body">
            <div class="head">
                <a href="/envManage/env/detail-{{ env_node_id }}-1"><div class="menu_item left " a="1">前端信息</div></a>
                <a href="/envManage/env/detail-{{ env_node_id }}-2"><div class="menu_item left " a="2">后端信息</div></a>
                <a href="/envManage/env/detail-{{ env_node_id }}-3"><div class="menu_item left " a="2">中间件信息</div></a>
                <a href="/envManage/env/detail-{{ env_node_id }}-4"><div class="menu_item left " a="2">附件信息</div></a>
                <a href="/envManage/env/detail-{{ env_node_id }}-5"><div class="menu_item left active" a="2">数据库信息</div></a>
            </div>
            <div class="body">
                <div b="5">
                    <table>
                        <thead>
                            <tr>
                                <th width="3%">序号</th>
                                <th width="12%">库名</th>
                                <th width="10%">数据库IP</th>
                                <th width="10%">数据库端口</th>
                                <th width="10%">数据库实例</th>
                                <th width="10%">用户名</th>
                                <th width="15%">密码</th>
                                <th width="15%">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for row in dbService %}
                            <tr hid="{{ row.db_id}}">
                                <td>{{ forloop.counter }}</td>
                                <td name="db_name">{{ row.name }}</td>
                                <td name="db_ip">{{ row.ip }}</td>
                                <td name="db_port">{{ row.port }}</td>
                                <td name="db_sid">{{ row.sid }}</td>
                                <td name="db_user">{{ row.user }}</td>
                                <td name="db_password">{{ row.password }}</td>
                                <td>
                                    <button type="button" class="edit_dbDetail_btn" style="display: none" >编辑</button>
                                    <button type="button" class="del_envDetail_btn" style="display: none" >删除</button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="footer">
                <div style="text-align: right;padding-right: 10px;">
                    {{ page_str }}
                </div>
            </div>
        </div>
{% endblock %}

