<!--除了tbody下展示内容有所不同，其余都继承env.html-->
{% extends "env.html" %}
{% block env %}
    <tbody>
    <tr hid="{{ queryRes.m_id }}">
        <td>{{ queryRes.m_id }}</td>
        <td name="env_name">{{ queryRes.env_name }}</td>
        <td name="frontIP">{{ queryRes.frontIP }}</td>
        <td name="backIP">{{ queryRes.backIP }}</td>
        <td name="dbIP">{{ queryRes.dbIP }}</td>
        <td name="status">{{ queryRes.status }}</td>
        <td>
            <button type="button" class="edit_env_btn" style="display: none">编辑</button>
            <button type="button" class="del_env_btn" style="display: none">删除</button>
            <a href="/envManage/env/detail-{{ queryRes.m_id }}-1">
                <button type="button">详情</button>
            </a>
        </td>
    </tr>
    </tbody>
{% endblock %}


