{% extends "index.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/css/tips.css">
    <link rel="stylesheet" href="/static/css/env.css">
    <link rel="stylesheet" href="/static/css/host.css">
{% endblock %}

{% block content %}
    <!--遮罩层-->
    <div class="shadow hide"></div>
    <!--添加-->
    <div class="add_div hide">
        <div class="add_div_body">
            <form id="add_form">
                <div class="edit_tr">
                    <div class="edit_td">
                        <div class="edit_h">
                            <label><i style="color: red">*</i>内网IP：</label>
                        </div>
                        <div class="edit_c">
                            <input type="text" name="intranetIP">
                        </div>
                    </div>
                    <div class="edit_td">
                        <div class="edit_h">
                            <label>外网IP：</label>
                        </div>
                        <div class="edit_c">
                            <input type="text" name="extrantIP">
                        </div>
                </div>
                </div>
                <div class="edit_tr">
                    <div class="edit_td">
                        <div class="edit_h">
                            <label><i style="color: red">*</i>机器类型：</label>
                        </div>
                        <div class="edit_c">
                            <select name="serverType">
                                <option value="实体机">实体机</option>
                                <option value="虚拟机">虚拟机</option>
                            </select>
                        </div>
                    </div>
                    <div class="edit_td">
                        <div class="edit_h">
                            <label>机器用途：</label>
                        </div>
                        <div class="edit_c">
                            <input type="text" name="serverPurpose">
                        </div>
                    </div>
                </div>
                <div class="edit_tr">
                    <div class="edit_td">
                        <div class="edit_h">
                            <label><i style="color: red">*</i>用户名：</label>
                        </div>
                        <div class="edit_c">
                            <input type="text" name="serverAccount">
                        </div>
                    </div>
                    <div class="edit_td">
                        <div class="edit_h">
                            <label><i style="color: red">*</i>密码：</label>
                        </div>
                        <div class="edit_c">
                            <input type="text" name="serverPassword">
                        </div>
                    </div>
                </div>
                <div class="edit_tr">
                    <div class="edit_td">
                        <div class="edit_h">
                            <label><i style="color: red">*</i>操作系统：</label>
                        </div>
                        <div class="edit_c">
                            <select name="serverOs">
                                <option value="Linux">Linux</option>
                                <option value="WindowsServer">WindowsServer</option>
                                <option value="Windows7">Windows7</option>
                            </select>
                        </div>
                    </div>
                    <div class="edit_td">
                        <div class="edit_h">
                            <label>宿主机：</label>
                        </div>
                        <div class="edit_c">
                            <input type="text" name="originServer">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="add_div_footer">
            <button id="add_confirm_btn">保存</button>
            <button id="add_cancel_btn">取消</button>
        </div>
    </div>
    <!--编辑-->
    <div class="edit_div hide">
        <div class="edit_div_body">
            <form id="edit_form">
                <div style="display: none">
                        <input type="text" name="s_id">
                </div>
                <div class="edit_tr">
                    <div class="edit_td">
                        <div class="edit_h">
                            <label><i style="color: red">*</i>内网IP：</label>
                        </div>
                        <div class="edit_c">
                            <input type="text" name="intranetIP">
                        </div>
                    </div>
                    <div class="edit_td">
                        <div class="edit_h">
                            <label>外网IP：</label>
                        </div>
                        <div class="edit_c">
                            <input type="text" name="extrantIP">
                        </div>
                </div>
                </div>
                <div class="edit_tr">
                    <div class="edit_td">
                        <div class="edit_h">
                            <label><i style="color: red">*</i>机器类型：</label>
                        </div>
                        <div class="edit_c">
                            <select name="serverType">
                                <option value="实体机">实体机</option>
                                <option value="虚拟机">虚拟机</option>
                            </select>
                        </div>
                    </div>
                    <div class="edit_td">
                        <div class="edit_h">
                            <label>机器用途：</label>
                        </div>
                        <div class="edit_c">
                            <input type="text" name="serverPurpose">
                        </div>
                    </div>
                </div>
                <div class="edit_tr">
                    <div class="edit_td">
                        <div class="edit_h">
                            <label><i style="color: red">*</i>用户名：</label>
                        </div>
                        <div class="edit_c">
                            <input type="text" name="serverAccount">
                        </div>
                    </div>
                    <div class="edit_td">
                        <div class="edit_h">
                            <label><i style="color: red">*</i>密码：</label>
                        </div>
                        <div class="edit_c">
                            <input type="text" name="serverPassword">
                        </div>
                    </div>
                </div>
                <div class="edit_tr">
                    <div class="edit_td">
                        <div class="edit_h">
                            <label><i style="color: red">*</i>操作系统：</label>
                        </div>
                        <div class="edit_c">
                            <select name="serverOs">
                                <option value="Linux">Linux</option>
                                <option value="WindowsServer">WindowsServer</option>
                                <option value="Windows7">Windows7</option>
                            </select>
                        </div>
                    </div>
                    <div class="edit_td">
                        <div class="edit_h">
                            <label>宿主机：</label>
                        </div>
                        <div class="edit_c">
                            <input type="text" name="originServer">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="edit_div_footer">
            <button id="edit_confirm_btn">保存</button>
            <button id="edit_cancel_btn">取消</button>
        </div>
    </div>
    <!--删除询问弹出框-->
    <div class="tips hide">
        <div class="tips_head">提示<br></div>
        <div class="tips_body">您确定删除该条主机信息？</div>
        <div class="tips_footer" name="hid">
            <button id="delHostConfirmBtn">确定</button>
            <button id="delHostCancelBtn">取消</button>
        </div>
    </div>


    <div class="host">
        <div class="query">
            <form id="queryForm" action="/hostManage/host" method="post" onsubmit="return checkHost()">
                <div class="query_tr">
                    <div class="query_td left">
                        <div class="query_n left">内网IP：</div>
                        <div class="query_c left">
                            <input type="text" name="intranetIP">
                        </div>
                    </div>
                    <div class="query_td left">
                        <div class="query_n left">外网IP：
                        </div>
                        <div class="query_c left">
                            <input type="text" name="extrantIP">
                        </div>
                    </div>
                    <div class="query_td left">
                        <div class="query_n left">机器类型：
                        </div>
                        <div class="query_c left">
                            <select style="width: 194px;height: 26px;" name="serverType">
                                <option value="">请选择</option>
                                <option value="实体机">实体机</option>
                                <option value="虚拟机">虚拟机</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="query_tr">
                    <div class="query_td left">
                        <div class="query_n left">操作系统：</div>
                        <div class="query_c left">
                            <select style="width: 194px;height: 26px;" name="serverOs">
                                <option value="">请选择</option>
                                <option value="Linux">Linux</option>
                                <option value="WindowsServer">WindowsServer</option>
                                <option value="Windows7">Windows7</option>
                            </select>
                        </div>
                    </div>
                    <div class="query_td left" >
                        <div class="query_c left" style="padding-left:20px;">
                            <button id="queryBtn" type="submit" auth="{{ auth }}">查询</button>
                        </div>
                    </div>
                    <div class="query_td left" style="text-align: right">
                        <button id="addHostbtn" type="button" style="display: none">添加</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="result">
            <table>
                <thead>
                    <tr>
                        <th style="width: 3%">序号</th>
                        <th style="width: 7%">内网IP</th>
                        <th style="width: 7%">外网IP</th>
                        <th style="width: 7%">机器类型</th>
                        <th style="width: 12%">机器用途</th>
                        <th style="width: 10%">操作系统</th>
                        <th style="width: 8%">用户名</th>
                        <th style="width: 8%">密码</th>
                        <th style="width: 7%">宿主机</th>
                        <th style="width: 8%">操作</th>
                    </tr>
                </thead>
                <tbody id="texts">
                    {% for row in queryHostResToList %}
                        <tr hid="{{ row.id }}">
                            <td>{{ forloop.counter }}</td>
                            <td name="intranetIP">{{ row.intranetIP }}</td>
                            <td name="extrantIP">{{ row.extrantIP }}</td>
                            <td name="serverType">{{ row.serverType }}</td>
                            <td name="serverPurpose">{{ row.serverPurpose }}</td>
                            <td name="serverOs">{{ row.serverOs }}</td>
                            <td name="serverAccount">{{ row.serverAccount }}</td>
                            <td name="serverPassword">{{ row.serverPassword }}</td>
                            <td name="originServer">{{ row.originServer }}</td>
                            <td>
                                <button class="edit_host_btn" style="display: none">编辑</button>
                                <button class="del_host_btn" style="display: none">删除</button>
                            </td>
                        </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <!--查询信息弹出框 -->
    <div class="verfity_div hide">
        <div id="tips"></div>
        <div id="verfityInfo"></div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/js/env.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/host.js"></script>
{% endblock %}


