{% extends "index.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/css/env.css">
    <link rel="stylesheet" href="/static/css/host.css">
{% endblock %}

{% block content %}
    <div class="host">
        <div class="query">
            <form id="queryForm">
                <div class="query_1">
                <div class="query_2 left">
                    <div class="query_n left">内网IP：</div>
                    <div class="query_i left"><input type="text" name="intranetIP"></div>
                </div>
                <div class="query_2 left">
                    <div class="query_n left">外网IP：</div>
                    <div class="query_i left"><input type="text" name="extrantIP"></div>
                </div>
                <div class="query_2 left">
                    <div class="query_n left">机器类型：</div>
                    <div class="query_i left">
                        <select style="width: 194px;height: 26px;" name="serverType">
                            <option value="">请选择</option>
                            <option value="实体机">实体机</option>
                            <option value="虚拟机">虚拟机</option>
                        </select>
                    </div>
                </div>
            </div>
                <div class="query_1">
                <div class="query_2 left">
                    <div class="query_n left">操作系统：</div>
                    <div class="query_i left">
                        <select style="width: 194px;height: 26px;" name="serverOs">
                            <option value="">请选择</option>
                            <option value="Linux">Linux</option>
                            <option value="WindowsServer">WindowsServer</option>
                            <option value="Windows7">Windows7</option>
                        </select>
                    </div>
                </div>
                <div class="query_2 left">
                    <div class="query_i left" style="padding-left:20px;"><input  id="queryBtn" style="width:60px;height:26px;background-color: blue" type="button" value="查询"></div>
                </div>
            </div>
            </form>
        </div>
        <div class="result">
            <table>
                <thead>
                    <tr>
                        <th style="width: 5%">序号</th>
                        <th style="width: 8%">内网IP</th>
                        <th style="width: 8%">外网IP</th>
                        <th style="width: 8%">机器类型</th>
                        <th style="width: 15%">机器用途</th>
                        <th style="width: 10%">操作系统</th>
                        <th style="width: 8%">用户名</th>
                        <th style="width: 8%">密码</th>
                        <th style="width: 8%">宿主机</th>
                    </tr>
                </thead>
                <tbody id="texts">
                    {% for row in queryRes %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ row.intranetIP }}</td>
                            <td>{{ row.extrantIP }}</td>
                            <td>{{ row.serverType }}</td>
                            <td>{{ row.serverPurpose }}</td>
                            <td>{{ row.serverOs }}</td>
                            <td>{{ row.serverAccount }}</td>
                            <td>{{ row.serverPassword }}</td>
                            <td>{{ row.originServer }}</td>
                        </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <!--查询信息弹出框 -->
    <div class="verfity_div hide">
        <div id="tips"></div>
        <div id="verfityInfo"></div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/js/env.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script>
        $('#queryBtn').click(function () {
            var  intranetIP = $('#queryForm').find('input[name="intranetIP"]').val()
            var  extrantIP = $('#queryForm').find('input[name="extrantIP"]').val()
            var  serverType = $('#queryForm').find('select[name="serverType"]').val()
            var  serverOs = $('#queryForm').find('select[name="serverOs"]').val()
            if ((intranetIP == undefined || intranetIP == '' || intranetIP == null) && (extrantIP == undefined || extrantIP == '' || extrantIP == null) && (serverType == undefined || serverType == '' || serverType == null) && (serverOs == undefined || serverOs == '' || serverOs == null)){
                // 查不到数据界面提示
                $('.verfity_div').removeClass('hide')
                $('#verfityInfo').text('请至少输入一个查询条件！')
                // 弹出框提示3秒后消失
                setTimeout(function (){$('.verfity_div').addClass('hide')},3000 )
                $('#texts').html("")
                }

            else{
                $.ajax({
                    url:'/hostManage/host',
                    type:'POST',
                    data:$('#queryForm').serialize(),
                    dataType:'JSON',
                    success:function (data) {
                        console.log('data',data)
                        if (data == null || data == '')
                        {
                            // 查不到数据界面提示
                            $('.verfity_div').removeClass('hide')
                            $('#verfityInfo').text('没有查询到数据！')
                            // 弹出框提示3秒后消失
                            setTimeout(function (){$('.verfity_div').addClass('hide')},3000 )
                            $('#texts').html("")
                        }else{
                            var html = ""
                            for(var i=0;i < data.length;i++){
                                html += '<tr><td>' + (Number(i)+Number('1') )+ '</td>' +
                                    '<td>' + data[i].intranetIP + '</td>' +
                                    '<td>' + data[i].extrantIP + '</td>' +
                                    '<td>' + data[i].serverType + '</td>' +
                                    '<td>' + data[i].serverPurpose + '</td>' +
                                    '<td>' + data[i].serverOs + '</td>' +
                                    '<td>' + data[i].serverAccount + '</td>' +
                                    '<td>' + data[i].serverPassword + '</td>' +
                                    '<td>' + data[i].originServer + '</td>' + '</tr>'
                            }
                            $('#texts').html(html)
                        }
                    }
                })
            }
            }
        )
    </script>
{% endblock %}


