<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>环境信息管理</title>
    <link rel="stylesheet" href="/static/css/common.css">
    {% block css %} {% endblock %}
</head>
<body>
<div class="pg_header">
    <div class="logo left">
        <a href="#">
            <img src="/static/img/ja.jpg" alt="logo">
        </a>
    </div>
    <div class="web_name left">
        江苏中天吉奥后台管理系统
    </div>
    <div class="person_info right">
        <img src="/static/img/person.jpg" alt="头像">
        <div class="info">
            <div class="logout_div">
                <a href="#"><input class="btn1 left"  type="button" value="修改密码"></a>
                <a href="/common/logout"><input class="btn1 right" type="button" value="注销"></a>
            </div>
        </div>
    </div>
</div>

<div class="pg_content">
    <div class="menu">
        <div class="menu_s">
            <div class="icon"><img src="/static/img/icon1.jpg" alt="头像"></div>
            <div class="menu_text"><a href="/envManage/env">环境管理</a></div>
        </div>
        <div class="menu_s">
            <div class="icon"><img src="/static/img/icon2.jpg" alt="头像"></div>
            <div class="menu_text"><a href="/hostManage/host">主机管理</a></div>
        </div>
        <div class="menu_s">
            <div class="icon"><img src="/static/img/icon3.jpg" alt="头像"></div>
            <div class="menu_text"><a href="/dataManage/data">数据查询</a></div>
        </div>
    </div>
</div>
    {% block content %}{% endblock %}

<script src="/static/js/jquery.min.js"></script>
<script>
    $(".header").click(function () {
        $(this).next().removeClass('hide').parent().siblings().find('.content').addClass('hide');
        ;
    });
</script>
{% block js %} {% endblock %}
</body>
</html>
